{% extends "base.html" %}

{% block content %}
<div class="d-flex align-items-center justify-content-center min-vh-100">
    <div class="text-center error-container">
      <h1 class="display-1 fw-bold text-primary">403</h1>
      <h2 class="mb-3">Oops! Page Not Found</h2>
      <p class="lead mb-4">
        The page you requested doesn’t exist or an error occurred on our end.
        We’re working to fix things right away.
      </p>
      <a href="store" class="btn btn-lg btn-primary">
        ← Back to Store
      </a>
    </div>
  </div>
{% endblock %}