{% extends 'base.html' %}
{% block content %}
{% load static %}
    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Categories</span>
                        </div>
                        <ul>
                            {% for brand in brands %}
                            <li><a href="/?brand={{brand.id}}">{{ brand.name }}</a></li>
                            {% endfor %}
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9  d-none d-md-block" >
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+256781782288</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->


    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/33.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Checkout</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <span>Checkout</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6>ARCRID
                    </h6>
                </div>
            </div>
            <div class="checkout__form">
                <h4>ARCRID </h4>
                <form action="#">
                    <div class="row">
                        <div class="col-lg-12 col-md-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="checkout__input">
                                        <p><strong>Who we are | About us</strong></p>
                                        <div class="col-lg-12 col-md-6">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="checkout__input">
                                                        <p><em>HELLO WE'RE ARCRID</em></p>

                                                        <p>Arcrid is the home of African art, craft, and interior design—the place to buy handmade gifts and original artwork, sold by the artists and designers who have created them and their affiliated shops. Made with love, every purchase from Arcrid supports a genuine craftsperson.</p>
                                                        <p><em>WHAT WE DO</em></p>

                                                        <p><strong>Empower Artisans</strong></p>
                                                        <p>Arcrid offers artists, designers, and makers a friendly place to sell their work. Arcrid is intentionally not curated, so there are no gatekeepers deciding who or what is "good enough"—everyone is welcome to sell on Arcrid, whether they work in a professional studio or at their kitchen table, as long as their work is original or made by hand.</p>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="checkout__input">
                                                        <div class="banner__pic">
                                                            <img src="{% static 'img/banner/sculpture.jpg' %}" alt="" style="height: 290px;width: 590px;">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="checkout__input">
                                        <p><strong>Serving Customers</strong></p>
                                        <div class="col-lg-12 col-md-6">
                                            <div class="row">
                                        <p>Arcrid streamlines unique customers' satisfaction across the world by enabling access to art, craft, and interior design products through innovative, convenient, and affordable online services.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="checkout__input">
                                        <p><em>WHY WE 'DO' ARCRID?</em></p>

                                        <p>We mainly do it because we believe in:<br></p>
                                        

                                        <p><strong>1. Art & Craft skills:</strong> We love art, craft, and design skills, the process by which people use their creativity and talent to make beautiful work. Most of all, we love making.</p>

                                        <p><strong>2. Strength in numbers:</strong> Professionals, portfolio, and hobbyist designer-makers can reach a mainstream audience, test markets, and grow their businesses more effectively on Arcrid rather than through costly galleries and boutique shops.</p>

                                        <p><strong>3. Cottage industries:</strong> Small-scale production and handmade goods offer ways to be creative, manage resources effectively, and support local economies.</p>

                                        <p><strong>4. Meritocracy:</strong> Any designer-maker can list their work as long as it is handcrafted. This creates a meritocracy where great work made at the kitchen table can rub shoulders with the best from established makers. The work should stand for itself.</p>

                                        <p><strong>5. Connectivity:</strong> We believe everyone needs a piece of art to flavor up their mood, create a modest environment for work, and offer the best welcoming impression to their visitors.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="checkout__input">
                                        <p>_(Put an artistic picture)_</p>

                                        <p>Arcrid is run by Lurvin Elisha Atwiine and has been since it was founded in 2025. The inspiration for Arcrid came from a love of art, craft, and interior design, and from seeing the energy and creativity in the African craft communities. At the same time, online shopping was offering ways to crowdsource solutions to problems, and Lurvin Elisha, having observed several online shopping platforms, decided to build a great place for people to showcase and sell their art, craft, and interior design work.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="col-lg-12 col-md-6">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="checkout__input">
                                        <p>_(Put an artistic picture)_</p>

                                        <blockquote>
                                            Join Arcrid craft community and open your own Arcrid shop today, or explore the wonders of African art, craft, and interior design scenes from anywhere in the world and buy from genuine artists, makers, or their affiliated shops at <strong>arcrid.store</strong>—Africa's biggest online craft fair!
                                        </blockquote>

                                        <p>_(Put an artistic picture)_</p>
                                    </div>
                                </div>
                            </div>
                        </div>


                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Fist Name<span>*</span></p>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Last Name<span>*</span></p>
                                        <input type="text">
                                    </div>
                                </div>
                            </div>
                            
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->
{% endblock %}