{% extends 'base.html' %}

{% load cart %}
{% load custom_filter %}
{% load static %}
{% block content %}
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories  d-none d-md-block" >
                        <div class="hero__categories__all" style="background-color: #2f231b;">
                            <i class="fa fa-bars"></i>
                            <span>Categories</span>
                        </div>
                        <ul>
                            
                            {% for brand in brands %}
                            <li><a href="/store?brand={{brand.id}}">{{ brand.name }}</a></li>
                            {% endfor %}
                        </ul>
                        
                    </div>
                    <div class="hero__categories  d-lg-none" >
                        <div class="hero__categories__all" style="background-color: #2f231b;">
                            <i class="fa fa-bars"></i>
                            <span>Categories</span>
                        </div>
                        <ul  class=" collapse">
                            {% for brand in brands %}
                            <li><a href="/store?brand={{brand.id}}">{{ brand.name }}</a></li>
                            {% endfor %}
                        </ul>
                        
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search  d-none d-md-block hide-on-mobile">
                        <div class="hero__search__form">
                            <form class="d-flex" action="{% url 'search' %}" method="POST">
                            {% csrf_token %}
                            <input type="text" class="form-control" placeholder="What do you need?" style="max-width: 100%;" name="searched">
                            <button type="submit" class="btn text-white ms-2" style="background-color: #2f231b;">
                                <i class="fa fa-search"></i> <!-- Font Awesome Search Icon -->
                            </button>
                        </form>
                        </div>
                        <div class="hero__search__phone  d-none d-md-block">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+256781782288</h5>
                                <span>support 24/7 time--::--{{IP}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            {% for swipe in items %}
                            <div class="swiper-slide">
                                <div class="hero__item set-bg" data-setbg="{{ swipe.image.url }}">
                                    <div class="hero__text">
                                        <span>{{swipe.tile}}</span>
                                        <h2>
                                            {{ swipe.description_words.0 }} {{ swipe.description_words.1 }}<br />
                                            {% for word in swipe.description_words|slice:":2" %}
                                                {{ word }} 
                                            {% endfor %}
                                            <br />
                                        </h2>
                        
                                        <p>{{swipe.other_details}}</p>
                                        <a href="/" class="primary-btn" style="background-color: #A95922; color:white;">SHOP NOW</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    
                        <!-- Navigation Buttons -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    
                        <!-- Pagination -->
                        <div class="swiper-pagination"></div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                <div class="categories__slider owl-carousel">
                    {% for category in categories %}
                    <div class="col-lg-3">
                        <div class="categories__item set-bg" data-setbg="{{ category.image.url}}" onclick="window.location.href='/?category={{category.id}}';" 
                        style="cursor: pointer;">
                            <h5><a href="/?category={{category.id}}" style="background-color: #A95922; color:white;">{{ category.name }}</a></h5>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </br></br></br></br>
    </section>
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad"  style="background-color:#2f231b;">
        <div class="container">
            <div class="row"  >
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2 style="color: #A95922;">Our Stock Variety</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container" >
            <div class="row">
                {% for brand in brands %}
                <div class="col-12 col-md-3 col-lg-3 mb-4">
                    <h2 style="color: white">{{ brand.name }}</h2>
                    <div class="grid-box"> 
                        {% for category in brand.categories.all %}
                            <a href="/?category={{category.id}}"><div class="featured__item__pic set-bg content" data-setbg="{{ category.image.url}}" ></div></a>
                        {% endfor %}
                    </div>
                    
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="featured spad">
        <div class="container">
            <div class="row featured__filter">
                <!-- Loop through products -->
                {% for product in products %}
                    <div class="col-lg-3 col-md-4 col-sm-6 mix 
                        {% for category in product.categories.all %}
                            {{ category.slug }} 
                        {% endfor %}">
                        <div class="featured__item">
                            <!-- Product image and hover icons -->
                            <div class="featured__item__pic set-bg"  data-setbg="{{ product.image.url }}" onclick="window.location.href='{% url 'details' product.id %}';" 
                            style="cursor: pointer;">
                                <ul class="featured__item__pic__hover">
                                    <li> 
                                        <a class="like-btn {% if product.id in liked_products %}liked{% else %}not-liked{% endif %}" 
                                        data-product-id="{{ product.id }}">
                                            <i class="fa fa-heart"></i>
                                        </a>
                                    </li>
                                    <!--<li><a href="#"><i class="fa fa-retweet"></i></a></li>-->
                                    <!--<li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>-->
                                    <!--<li style="text-align: left;">
                                        <form action="{% url 'add_remove_cart' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="product" value="{{ product.id }}">
                                            <button  type="submit" data-toggle="tooltip" class="btn btn-primary"  data-placement="top" title="Add to cart" style="background-color: white;color:black;">
                                                <i class="fa fa-shopping-cart"></i>
                                            </button>
                                        </form>
                                    </li>
                                    
                                -->
                                    
                                </ul>
                            </div>
                            <!-- Product details -->
                            <div class="featured__item__text">
                                <h6><a href="{% url 'details' product.id %}" style="color: #A95922;">{{ product.name }}</a></h6>
                                <h5 class="converted-price" data-price-ugx="{{ product.price }}">UGX{{ product.price }}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Featured Section End -->

    <!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="{% static 'img/banner/sculpture.jpg' %}" alt="" style="height: 270px;width: 570px;">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="{% static 'img/banner/sculptures2.jpg' %}" alt="" style="height: 270px;width: 570px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->

    <!-- Latest Product Section Begin -->
    <section class="latest-product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4 style="color: #A95922;">Latest Products</h4>
                
                        <div class="latest-product__slider owl-carousel">
                            {% for product_chunk in chunked_products1 %}  {# Loop through the chunks of 3 products each #}
                                <div class="latest-prdouct__slider__item">
                                    {% for product in product_chunk %}  {# Loop through each product in the chunk #}
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <a href="{% url 'details' product.id %}"><img src="{{ product.image.url }}" alt="" style="height: 100px;width: 100px;"></a>
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6 style="color: #A95922">{{ product.name }}</h6>
                                                <span class="converted-price" data-price-ugx="{{ product.price }}">{{ product.price }}</span>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4 style="color: #A95922;">Top Rated Products</h4>
                
                        <div class="latest-product__slider owl-carousel">
                            {% for product_chunk in chunked_products2 %}  {# Loop through the chunks of 3 products each #}
                                <div class="latest-prdouct__slider__item">
                                    {% for product in product_chunk %}  {# Loop through each product in the chunk #}
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <a href="{% url 'details' product.id %}"><img src="{{ product.image.url }}" alt="" style="height: 100px;width: 100px;"></a>
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6 style="color: #A95922">{{ product.name }}</h6>
                                                <span class="converted-price" data-price-ugx="{{ product.price }}">{{ product.price }}</span>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4 style="color: #A95922;">Top Reviewed Products</h4>
                
                        <div class="latest-product__slider owl-carousel">
                            {% for product_chunk in chunked_products3 %}  {# Loop through the chunks of 3 products each #}
                                <div class="latest-prdouct__slider__item">
                                    {% for product in product_chunk %}  {# Loop through each product in the chunk #}
                                        <a href="#" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <a href="{% url 'details' product.id %}"><img src="{{ product.image.url }}" alt="" style="height: 100px;width: 100px;"></a>
                                            </div>
                                            <div class="latest-product__item__text">
                                                <h6 style="color: #A95922"><a href="{% url 'details' product.id %}" style="color: #A95922">{{ product.name }}</a></h6>
                                                <span class="converted-price" data-price-ugx="{{ product.price }}">{{ product.price }}</span>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                
                
                                
            </div>
        </div>
    </section>
    <!-- Latest Product Section End -->

    <!-- Blog Section Begin -->
    <section class="from-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title from-blog__title">
                        <h2 style="color: #A95922;">Innovation, Testsimonials & Blog</h2>
                    </div>
                </div>
            </div>
            <div class="row">
            {% for article in news %}
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="{{ article.image.url }}" alt="{{ article.title }}" style="height: 300px;">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> {{ article.published_date|date:"F d, Y" }}</li>
                                <li><i class="fa fa-comment-o"></i> {{ article.comment_count }}</li>
                            </ul>
                            <h5><a href="{{ article.get_absolute_url }}" style="color: #A95922;">{{ article.title }}</a></h5>
                            <p>{{ article.summary }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->
    <script>
        var swiper = new Swiper(".mySwiper", {
            loop: true,
            autoplay: {
                delay: 3000, // Auto-slide every 3 seconds
                disableOnInteraction: false
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
        });
    </script>
    <style>
        .grid-box {
            display: grid;
            grid-template-columns: repeat(2, 1fr); /* Two columns, each taking equal space */
            grid-auto-rows: 1fr; /* Each row gets an equal height */
            gap: 5px; /* Space between the squares */
            border: none; /* Border for the outer box */
            padding: 2px;
        }

        .grid-box div {
            background-color: lightblue; /* Background color for squares */
            display: flex;
            justify-content: center;
            color: #A95922;
            font-size:35px;
            #max-width: 120px; /* Width of the grid */
            #max-height: 120px; /* Height of the grid */
            align-items: top;
            border: 1px solid #aaa; /* Border for the inner squares */
        }
        .grid-box div .content {
            background-color: #fff; /* Background color for the content area */
            padding: 10px; /* Padding for the content */
            border-radius: 5px; /* Optional: Rounded corners */
            text-align: center; /* Center the text horizontally */
            width: 100%; /* Ensure content spans full width of the box */
        }
        
    </style>

{% endblock %}