{% extends 'base.html' %}
{% block content %}

{% load cart %}
{% load custom_filter %}
{% load crispy_forms_tags %}
{% load social_share %}
{% load static %}
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories  d-none d-md-block" >
                        <div class="hero__categories__all" style="background-color: #2f231b;">
                            <i class="fa fa-bars"></i>
                            <span>Categories</span>
                        </div>
                        <ul>
                            
                            {% for brand in brands %}
                            <li><a href="/store?brand={{brand.id}}">{{ brand.name }}</a></li>
                            {% endfor %}
                        </ul>
                        
                    </div>
                    <div class="hero__categories  d-lg-none" >
                        <div class="hero__categories__all" style="background-color: #2f231b;">
                            <i class="fa fa-bars"></i>
                            <span>Categories</span>
                        </div>
                        <ul  class=" collapse">
                            {% for brand in brands %}
                            <li><a href="/store?brand={{brand.id}}">{{ brand.name }}</a></li>
                            {% endfor %}
                        </ul>
                        
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search  d-none d-md-block hide-on-mobile">
                        <div class="hero__search__form">
                            <form class="d-flex" action="{% url 'search' %}" method="POST">
                            {% csrf_token %}
                            <input type="text" class="form-control" placeholder="What do you need?" style="max-width: 100%;" name="searched">
                            <button type="submit" class="btn text-white ms-2" style="background-color: #2f231b;">
                                <i class="fa fa-search"></i> <!-- Font Awesome Search Icon -->
                            </button>
                        </form>
                        </div>
                        <div class="hero__search__phone  d-none d-md-block">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+256781782288</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/gallery_horizontal.webp' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Product Details</h2>
                        <div class="breadcrumb__option">
                            <a href="/">Home</a>
                            <a href="/">Sculptures</a>
                            <span>Sculptures</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                src="{{product.image.url}}" alt="" style="max-height: 700px">
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                            <img class="thumbnail" data-imgbigurl="{{product.image.url}}"
                                src="{{product.image.url}}" alt=""  style="height: 150px">
                        
                            <img class="thumbnail" data-imgbigurl="{{product.image2.url}}"
                                src="{{product.image2.url}}" alt=""  style="height: 150px">
                        
                            <img class="thumbnail" data-imgbigurl="{{product.image3.url}}"
                                src="{{product.image3.url}}" alt="" style="height: 150px">
                        
                            <img class="thumbnail" data-imgbigurl="{{product.image4.url}}"
                                src="{{product.image4.url}}" alt=""  style="height: 150px">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>{{product.name}}</h3>
                        <div class="product__details__rating">
                            {% for i in "12345" %}
                                {% if product.average_rating >= i|add:"0.5" %}
                                    <i class="fa fa-star"></i>
                                {% elif product.average_rating >= i %}
                                    <i class="fa fa-star-half-o"></i>
                                {% else %}
                                    <i class="fa fa-star-o"></i>
                                {% endif %}
                            {% endfor %}
                            <span>({{ reviews.count }} reviews)</span>
                        </div>
                        <div class="product__details__price">{{product.price}}</div>

                        <form action="/add_remove_cart" method="POST" class="btn-block">
                            {% csrf_token %}
                            {{ form|crispy }}
                            
                            <input hidden type="text" name="product" value="{{ product.id }}">
                            
                            <a href="/add_remove_cart" class="primary-btn" onclick="this.closest('form').submit(); return false;">ADD TO CART</a>
                            <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                        </form>
                        </br>
                        </br>
                        </br>
                        {% load social_share %}

                        {# 1) Precompute all the share URLs #}
                        {% post_to_facebook_url    build_absolute_uri      as facebook_url    %}
                        
                        {% post_to_linkedin_url    request.build_absolute_uri      as linkedin_url    %}
                        {% send_email_url        product.name   "{{product.name}}"      object_or_url  as email_url       %}
                        {% save_to_pinterest_url   request.build_absolute_uri      as pinterest_url   %}
                        {% post_to_whatsapp_url    request.build_absolute_uri      as whatsapp_url    %}
                        {% post_to_telegram_url    product.name request.build_absolute_uri  as telegram_url    %}
                        
                        
                        {% load static %}
                        <li class="d-flex align-items-center">
                          <b class="me-2">Share on</b>
                          <ul class="social-share list-unstyled d-flex mb-0">
                            {# Facebook #}
                            <li>
                              <a
                                href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|urlencode }}"
                                class="social-btn facebook"
                                target="_blank" rel="noopener"
                                title="Share on Facebook"
                              >
                                <i class="fab fa-facebook-f"></i>
                              </a>
                            </li>
                        
                            {# Twitter #}
                            <li>
                              <a
                                href="https://twitter.com/intent/tweet?text={{ product.name|urlencode }}&url={{ request.build_absolute_uri|urlencode }}"
                                class="social-btn twitter"
                                target="_blank" rel="noopener"
                                title="Share on Twitter"
                              >
                                <i class="fab fa-x"></i>
                              </a>
                            </li>
                        
                            {# LinkedIn #}
                            <li>
                              <a
                                href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri|urlencode }}&title={{ product.name|urlencode }}"
                                class="social-btn linkedin"
                                target="_blank" rel="noopener"
                                title="Share on LinkedIn"
                              >
                                <i class="fab fa-linkedin-in"></i>
                              </a>
                            </li>
                        
                            {# Email #}
                            <li>
                              <a
                                href="mailto:?subject={{ product.name|urlencode }}&body={{ request.build_absolute_uri|urlencode }}"
                                class="social-btn email"
                                title="Share via Email"
                              >
                                <i class="fas fa-envelope"></i>
                              </a>
                            </li>
                        
                            {# Pinterest #}
                            <li>
                              <a
                                href="https://pinterest.com/pin/create/button/?url={{ request.build_absolute_uri|urlencode }}&media={{ product.image.url|urlencode }}&description={{ product.name|urlencode }}"
                                class="social-btn pinterest"
                                target="_blank" rel="noopener"
                                title="Share on Pinterest"
                              >
                                <i class="fab fa-pinterest-p"></i>
                              </a>
                            </li>
                        
                            {# WhatsApp #}
                            <li>
                              <a
                                href="https://api.whatsapp.com/send?text={{ product.name|urlencode }}%20{{ request.build_absolute_uri|urlencode }}"
                                class="social-btn whatsapp"
                                target="_blank" rel="noopener"
                                title="Share on WhatsApp"
                              >
                                <i class="fab fa-whatsapp"></i>
                              </a>
                            </li>
                        
                            {# Telegram #}
                            <li>
                              <a
                                href="https://t.me/share/url?url={{ request.build_absolute_uri|urlencode }}&text={{ product.name|urlencode }}"
                                class="social-btn telegram"
                                target="_blank" rel="noopener"
                                title="Share on Telegram"
                              >
                                <i class="fab fa-telegram-plane"></i>
                              </a>
                            </li>
                          </ul>
                        </li>
                        
                          
                          
                        
                        
                        
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                    aria-selected="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                    aria-selected="false">Shipping Information</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                                    aria-selected="false">Reviews <span>(1)</span></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Products Description</h6>
                                    <p>{{ product.description }}.</p>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Shipping Information</h6>
                                    <p> After a successful payment, an Arcrid customer service personnel will contact you to avail product delivery/shipping information.</p>
                                </div>
                            </div>
                            <!-- Reviews Tab -->
<!-- Reviews Tab -->
<div class="tab-pane fade" id="tabs-3" role="tabpanel" aria-labelledby="review-tab">
    <div class="reviews-container p-4 bg-light rounded-3 shadow-lg">
  
      <!-- Heading -->
      <h5 class="mb-4 fw-bold text-primary">Product Reviews</h5>
  
      <!-- Average Rating -->
      <div class="d-flex align-items-center mb-4">
        <div class="rating-stars me-2">
          {% for i in "12345" %}
            {% if product.average_rating >= i|add:"0.5" %}
              <i class="fas fa-star yellow-star"></i>
            {% elif product.average_rating >= i %}
              <i class="fas fa-star-half-alt yellow-star"></i>
            {% else %}
              <i class="far fa-star"></i>
            {% endif %}
          {% endfor %}
        </div>
        <span class="fw-bold me-2">{{ product.average_rating|floatformat:1 }}/5</span>
        <small class="text-secondary">({{ reviews.count }} reviews)</small>
      </div>
  
      <!-- Reviews List -->
      <ul class="list-unstyled mb-5">
        {% for review in reviews %}
          <li class="media d-flex mb-4 pb-3 border-bottom">
            <img src="{% static 'img/circle-user-solid.svg' %}"
                 alt="{{ review.user.username }}"
                 class="me-3 rounded-circle review-avatar"
                 width="56" height="56">
            <div class="media-body flex-grow-1">
              <div class="d-flex justify-content-between align-items-center mb-1">
                <h6 class="mt-0 mb-0 text-dark">{{ review.user.username }}</h6>
                <span class="small text-muted">{{ review.created_at|date:"M d, Y" }}</span>
              </div>
              <div class="d-flex align-items-center mb-2">
                <div class="rating-stars">
                    {% if review.rating == 5 %}
                    <i class="fas fa-star" style="color: #f1c40f;"></i>
                    <i class="fas fa-star" style="color: #f1c40f;"></i>
                    <i class="fas fa-star" style="color: #f1c40f;"></i>
                    <i class="fas fa-star" style="color: #f1c40f;"></i>
                    <i class="fas fa-star" style="color: #f1c40f;"></i>
                  {% elif review.rating == 4 %}
                    <i class="fas fa-star" style="color: #f1c40f;"></i>
                    <i class="fas fa-star" style="color: #f1c40f;"></i>
                    <i class="fas fa-star" style="color: #f1c40f;"></i>
                    <i class="fas fa-star" style="color: #f1c40f;"></i>
                    <i class="far fa-star" style="color: #ddd;"></i>
                  {% elif review.rating == 3 %}
                    <i class="fas fa-star" style="color: #f1c40f;"></i>
                    <i class="fas fa-star" style="color: #f1c40f;"></i>
                    <i class="fas fa-star" style="color: #f1c40f;"></i>
                    <i class="far fa-star" style="color: #ddd;"></i>
                    <i class="far fa-star" style="color: #ddd;"></i>
                  {% elif review.rating == 2 %}
                    <i class="fas fa-star" style="color: #f1c40f;"></i>
                    <i class="fas fa-star" style="color: #f1c40f;"></i>
                    <i class="far fa-star" style="color: #ddd;"></i>
                    <i class="far fa-star" style="color: #ddd;"></i>
                    <i class="far fa-star" style="color: #ddd;"></i>
                  {% elif review.rating == 1 %}
                    <i class="fas fa-star" style="color: #f1c40f;"></i>
                    <i class="far fa-star" style="color: #ddd;"></i>
                    <i class="far fa-star" style="color: #ddd;"></i>
                    <i class="far fa-star" style="color: #ddd;"></i>
                    <i class="far fa-star" style="color: #ddd;"></i>
                  {% else %}
                    <i class="far fa-star" style="color: #ddd;"></i>
                    <i class="far fa-star" style="color: #ddd;"></i>
                    <i class="far fa-star" style="color: #ddd;"></i>
                    <i class="far fa-star" style="color: #ddd;"></i>
                    <i class="far fa-star" style="color: #ddd;"></i>
                  {% endif %}
                </div>
                <span class="ms-2 small fw-bold">{{ review.rating }}/5</span>
              </div>
              <p class="mb-0 text-muted">{{ review.comment }}</p>
            </div>
          </li>
        {% empty %}
          <li class="text-center text-muted">No reviews yet — be the first!</li>
        {% endfor %}
      </ul>
  
      <!-- Review Form -->
      <h6 class="fw-bold mb-3 text-primary">Leave Your Review</h6>
      <form method="post" class="review-form">
        {% csrf_token %}
        <div class="row g-3 mb-3">
          <div class="col-md-4">
            <label for="rating" class="form-label text-secondary">Your Rating</label>
            <select class="form-select" name="rating" id="rating">
              <option value="5">★★★★★</option>
              <option value="4">★★★★☆</option>
              <option value="3">★★★☆☆</option>
              <option value="2">★★☆☆☆</option>
              <option value="1">★☆☆☆☆</option>
            </select>
          </div>
          <div class="col-md-8">
            <label for="comment" class="form-label text-secondary">Your Comment</label>
            <textarea class="form-control" name="comment" id="comment"
                      rows="3" placeholder="Share your thoughts…"></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-primary px-4">Submit Review</button>
      </form>
  
    </div>
  </div>
  
  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Related Product Section Begin -->
    <section class="related-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related__product__title">
                        <h2>Related Product</h2>
                    </div>
                </div>
            </div>
            <div class="product__discount">
                <div class="section-title product__discount__title">
                    <h2 style="color: #A95922;">Sale Off</h2>
                </div>
                <div class="row">
                    <div class="product__discount__slider owl-carousel">
                        {% for product in related_products %}
                        <div class="col-lg-4">
                            <div class="product__discount__item">
                                <div class="product__discount__item__pic set-bg"
                                    data-setbg="{{product.image.url}}" onclick="window.location.href='{% url 'details' product.id %}';" 
                                    style="cursor: pointer;">
                                    <!--<div class="product__discount__percent">-20%</div>-->
                                    <ul class="product__item__pic__hover">
                                        <li> 
                                            <a class="like-btn {% if product.id in liked_products %}not-liked{% else %}liked{% endif %}" 
                                            data-product-id="{{ product.id }}">
                                                <i class="fa fa-heart"></i>
                                            </a>
                                        </li>
                                        <!--
                                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>-->
                                        <form action="/add_remove_cart" method="POST" class="buy-btn">
                                            {% csrf_token %}
                                            <input hidden type="text" name='product' value='{{ product.id }}'>
                                            <li>
                                                <button type="submit" onclick="this.closest('form').submit(); return false;">
                                                    <i class="fa fa-shopping-cart"></i>
                                                </button>
                                            </li>
                                        </form>
                                        
                                    </ul>
                                </div>
                                <div class="product__discount__item__text">

                                    <h5><a href="#" style="color: #A95922;">{{ product.name }}</a></h5>
                                    <div class="product__item__price">{{ product.price }}</div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Related Product Section End -->
    <style>
        .social-share {
            margin: 0;
            padding: 0;
            list-style: none;
            gap: 0.5rem;
          }
          
          .social-share li {
            display: inline-block;
          }
          
          .social-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 36px;
            height: 36px;
            color: #fff !important;
            border-radius: 50%;
            text-decoration: none;
            transition: transform 0.2s ease, opacity 0.2s ease;
            font-size: 1rem;
          }
          
          /* Brand Colors */
          .social-btn.facebook  { background: #3b5998; }
          .social-btn.twitter   { background: black; }
          .social-btn.linkedin  { background: #0e76a8; }
          .social-btn.email     { background: #dd4b39; } /* or a neutral grey */
          .social-btn.pinterest { background: #BD081C; }
          .social-btn.whatsapp  { background: #25D366; }
          .social-btn.telegram  { background: #229ED9; }
          
          .social-btn:hover {
            transform: translateY(-2px);
            opacity: 0.85;
          }
          :root {
            --primary-color: #2c3e50;    /* Deep blue-gray */
            --accent-color: #e67e22;     /* Warm orange */
            --star-color: #f1c40f;       /* Golden */
            --bg-lightest: #fdfdfd;      /* Soft white */
          }
          
          .reviews-container {
            background: var(--bg-lightest);
            border: 1px solid #e3e3e3;
          }
          
          .review-avatar {
            border: 2px solid var(--accent-color);
          }
          
          .rating-stars .fas,
          .rating-stars .fa-star-half-alt {
            color: var(--star-color);
            font-size: 1.1rem;
          }
          .rating-stars .far {
            color: #ddd;
          }
          
          h5.text-primary,
          .review-form h6.text-primary {
            color: var(--primary-color) !important;
          }
          
          .review-form .btn-primary {
            background-color: var(--accent-color);
            border: none;
          }
          .review-form .btn-primary:hover {
            background-color: darken(var(--accent-color), 10%);
          }
          
          .form-label {
            font-weight: 500;
            color: #555;
          }
          .yellow-star {
            color: #f1c40f !important;  /* golden yellow */
          }
          
          
    </style>

{% endblock %}