{% extends 'base.html' %}
{% include 'messages.html' %}
{% load crispy_forms_tags %}
{% block content %}
        <!-- breadcrumb area start -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb-wrap">
                            <nav aria-label="breadcrumb">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/Dashboard">DashBoard</a></li>
                                    {% if products %}
                                    <li class="breadcrumb-item active" aria-current="page">Update Product: {{ product.name }}</li>
                                    {% else %}
                                     <li class="breadcrumb-item active" aria-current="page">Add Product</li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb area end -->

        <!-- login register wrapper start -->
        <div class="login-register-wrapper">
            <div class="container">
                <div class="member-area-from-wrap">
                    <div class="row">
                        <!-- Login Content Start -->
                        <div class="col-lg-6">
                            <div class="login-reg-form-wrap  pr-lg-50">
                        {% if products %}
                        <h2>Update Your:  {{ name }}</h2>
                        {% else %}
                        <h2><u>Update Or Add New {{ name }}</u></h2>
                        {% endif %}
                                    <form action="/{{names}}" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ form.path }}
                                        {{ form|crispy }}
                                        <div class="single-input-item">
                                             <p><input class="btn btn-primary my-2 my-sm-0" type="submit" value="Submit"></p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
            

{% endblock %}