{% extends 'base.html' %}

{% load static %}
{% load cart %}
{% load custom_filter %}
{% load crispy_forms_tags %}
{% block content %}
<section class="categories">
    <div class="container">
        <form action="/login" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="single-input-item">
                <button class="btn btn-primary" type="submit" >Log In</button>
            </div>
            <div>
                <a class="btn btn-info"href="/signup">Or Register<a/>
            </div>
        </form>
    </div>
</br>
</br>
</br>
</section>
{% endblock %}